.title{
  display: grid;
  grid-template-columns: auto 1fr auto;
  justify-items: left;
  align-items: baseline;
  gap: 20px;
  margin-bottom: 20px;
}

.hhTitle{
  display: grid;
  grid-template-columns: auto 1fr;
  justify-items: left;
  align-items: baseline;
  gap: 20px;
}

.seo h1{
  font-weight: 500;
  font-size: 26px;
  line-height: 35px;
  margin: 30px 0 5px;
}
.seo h2{
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  margin-top: 50px;
  margin-bottom: 25px;
}
.seo h3{
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  margin: 30px 0 5px;
}
