.textarea{
  padding: 7px 15px;
  width: 100%;
  
  color: var(--black);
  border: none;
  outline-color: var(--primary);
  background-color: var(--white);
  box-shadow: 0px 4px 4px rbga(0, 0, 0, 0.05);
  border-radius: 5px;
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  line-height: 22px;
}

.textarea::placeholder{
  color: var(--gray);
}
.textareaWrapper{
  position: relative;
}
.error{
  border: 1px solid var(--red);
}
.errorMessage{
  position: absolute;
  bottom: -15px;
  left: 5px;
  color: var(--red);
}