.filled svg {
  fill: var(--primary);
}

.star svg {
  margin-right: 5px;
}

.editable {
  cursor: pointer;
}
.ratingWrapper {
  position: relative;
}
.error {
  border: 1px solid var(--red);
}
.errorMessage {
  position: absolute;
  bottom: -15px;
  left: 5px;
  color: var(--red);
}
.error svg {
  stroke: var(--red);
}
